TRADE_MODE=dry_run
ALLOW_LIVE_ORDERS=false
REQUIRE_MANUAL_APPROVAL=true
KILL_SWITCH=false
MAX_DRAWDOWN_PCT=5
MAX_TRADE_USD=100
COINBASE_API_KEY_NAME=YOUR_KEY_NAME
COINBASE_API_PRIVATE_KEY=YOUR_PRIVATE_KEY
COINBASE_PORTFOLIO_ID=YOUR_PORTFOLIO_ID
